<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<div class="b-container">
    <div class="popup">
        <form action="select1.php" method="post">
            <select class="selector-user">
                <option disabled>Оберіть користувача</option>
                <option value="Чебурашка">Чебурашка</option>
                <option selected value="Крокодил Гена">Крокодил</option>
                <option value="Шапокляк">Чекушаня</option>
                <option value="Крыса Лариса">Петро з першого підїзду</option>
            </select>

            <select class="selector-document">
                <option disabled>Оберіть документ</option>
                <option value="Чебурашка">Снять проститутку</option>
                <option selected value="Крокодил Гена">Заява для того шоби лізнуть</option>
                <option value="Шапокляк">Дозвіл шоб пасать в неположеном мєстє</option>
                <option value="Крыса Лариса">лишня хєротєнь</option>
            </select>
            <input class="button-submit-select" type="submit" value="Обрати">
        </form>
    </div>
</div>
</body>
</html>