<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<div class="b-container">
    <div class="turning">
        <p>Директорові ХНУ</p>

        <p>Пастору В. М.</p>

        <p>студента групи ПІс-14-1</p>

        <p>Паралелепіпеда Буковки Гітовича</p>
    </div>
    <div class="content">
        <h1>Заявка</h1>

        <p>
            Прошу надати мені відпустку з 1 березня по 4 березня 2015 року без збереження заробітної плати у зв'язку з
            сіменими обставинами.


        <div class="signature">
            <p class="date-left">19.11.2015</p>

            <p class="signature-right">
                Підпис _______________________
            </p>
        </div>

        </p>
    </div>
</div>
</body>
</html>