<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>receipt</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<div class="b-container">
    <div class="turning">
        <p>Директорові ХНУ</p>

        <p>Пастору В. М.</p>

        <p>студента групи ПІс-14-1</p>

        <p>Паралелепіпеда Буковки Гітовича</p>
    </div>
    <div class="content">
        <h1>Розписка</h1>

        <p>
            Я, студент юридичного факультету Національного університету імені ________________ Баклажан Г. О., отримав
            від
            завідувача бібліотеки Данько Е.П. для тимчасового користування на час канікул 1 (один) підручник з Теорії
            держави та права, 1 (один) підручник з логики, 1 (один) підручник з філософії.

        <div class="signature">
            <p class="date-left">08.06.15</p>
            <p class="signature-right">
                Підпис _______________________
            </p>
            <div class="signature-left">
                <p>Підпис студента Баклажан Г. О. засвідчую</p>

                <p>Декан юридичного</p>

                <p>факультету (підпис) _________________________</p>
            </div>


        </div>

        </p>
    </div>
</div>
</body>
</html>