/**
 * Created by Frank on 18.11.2015.
 */
.font {
  font-family: Arial, sans-serif;
  font-size:   14px;
  font-style:  normal;
  font-weight: normal;
  color:       #000000;
}

body, p {
  margin:  0;
  padding: 0;
  .font;
}

p {
  line-height: 22px;
}

.b-container {
  width:  912px;
  margin: 120px auto;
}

.turning {
  float:          right;
  padding-bottom: 80px;
}

.content {
  clear: both;
}

h1 {
  text-align: center;
  padding:    0;
  margin:     0;
}

.signature {
  padding-top: 10px;

  .clearfix;
  .date-left {
    float: left;
  }
  .signature-right {
    float:      right;
    text-align: right;
  }
  .signature-left {
    padding:    30px 0;
    text-align: left;
    clear:      both;
  }
}

//todo user form
.select {
  border:        none;
  background:    rgba(27, 155, 218, 0.25);
  padding:       10px;
  width:         100%;
  outline-color: rgba(243, 92, 4, 0.72);
  color:         rgba(12, 0, 0, 0.64);
  font-size:     20px;
  font-weight:   bold;
  border-radius: 3px;
  option {
    background: rgba(21, 145, 206, 0.6);
  }
  option[disabled] {
    background-color: rgba(46, 53, 44, 0.82);
    color:            #b7afaf;
  }
}

.selector-user {
  .select;
}

.selector-document {
  .select;
  margin-top: 20px;
  background: rgba(218, 55, 27, 0.35);
  color:      rgba(0, 0, 0, 0.84);
}

.button-submit-select {
  border:        none;
  width:         100%;
  line-height:   60px;
  border-radius: 5px;
  font-size:     30px;
  color:         #f5f5f5;
  font-weight:   bold;
  background:    rgba(35, 142, 88, 0.72);
  margin-top:    30px;
  cursor:        pointer;
}

//todo order

h2, h3 {
  text-align: center;
  padding:    0;
  margin:     0;
}

.signature-wrapper {
  padding: 20px 0;
  .clearfix;
  .signature-date-left {
    float: left;
  }
  .signature-right {
    float: right;
  }
}

.content {
  h3 {
    text-transform: uppercase;
    padding:        30px 0 20px;
  }
  .basis {
    padding: 10px 0;
    span {
      text-transform: uppercase;
    }
  }
}

@import "mixin";